.container {
  margin-left: 2rem;
  margin-right: 2rem;
}


.nav {
  display: flex;
  align-items: center;

  .home-link {
    text-decoration: none;
    color: black
  }

  .links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    gap: 5rem;
  }

  .profile-icon {
    font-size:xx-large;
  }
  .profile-text {
    font-size: larger;
  }
}

.email-not-verified-notice {
  background-color: rgb(255, 0, 0, 0.4);
  margin: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  .verification-text {
    color: rgb(0, 0, 0, 0.8)
  }

  .verify-email-button {
    color: rgb(0, 0, 255, 0.8);
  }
  .verify-email-button:hover {
    cursor: pointer;
  }
}

.verification-sent {
  background-color: rgb(0, 255, 0, 0.4);
}

.email-not-verified-content {
  padding-top: 3.5rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
