.heading {
    text-align: center;
}

.course-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .star {
        font-size:x-large;
        color:gray;
    }

    .text-rating {
        margin-left: 2rem;
        background-color: #D32F2F;
        padding: 1rem;
        border: 1px solid black;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
}

.leave-a-review {
    display: flex;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid lightblue;
    border-radius: 10px;
}

.leave-a-review:hover {
    background-color: lightblue;
    cursor: pointer;
}